# Backup
*.bak
*.ori
*.orig
*.tmp
*~

# Windows
[Dd]esktop.ini
*.lnk

# macOS
.DS_Store
._*

# VSCode / VSCodium
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode-oss/*
!.vscode-oss/settings.json
!.vscode-oss/tasks.json
!.vscode-oss/launch.json
!.vscode-oss/extensions.json
*.code-workspace
.history/

# git
commit-message

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# project
instance/caddy/*
!instance/caddy/Caddyfile.example
instance/pakhuis/*
!instance/pakhuis/config.example.toml
!instance/pakhuis/pakhuis-servers.example.toml
instance/log/*
